.composition {
  position: relative;

  &__photo {
    max-width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    //For green border with spacing
    outline-offset: 1.5rem;

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      //For green border with spacing
      outline: 1.0rem solid $color-primary;
      //To bring image to front of other images
      transform: scale(1.05) translateY(-.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
      z-index: 20;
    }
  }

  //How to make all other images smaller when hovering on one image
  &:hover &__photo:not(:hover) {
    transform: scale(.95);

  }
}
